@{
    ViewData["Title"] = "Index";
}
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<div class="container">
    <h1>Inicie sesión para comenzar</h1>
    <form method="post" action="/Home/Ingresar">
        Nombre de Usuario:
        <input type="text" name="usuario" placeholder="Ingresar usuario" required /><br />
        Password:
        <input type="password" name="password" required /><br />
        <input type="submit" value="Ingresar" />
    </form>


    @if (ViewBag.Error != null)
    {
        <p>@ViewBag.Error</p>
    }
</div>

