@{
    ViewData["Title"] = "Perfil";
}

<h2>Perfil del Integrante</h2>

<p>Usuario:@ViewBag.NombreUsuario</p>
<p>DNI:@ViewBag.DNI</p>
<p>Teléfono:@ViewBag.Telefono</p>
<p>Fecha de nacimiento:@ViewBag.FechaNacimiento</p>
<p>Hobby:@ViewBag.Hobby</p>
<p>Cantante favorito:@ViewBag.CantanteFav</p>